---
export interface Props {
    title: string
    headerColor?: string
}
const {title, headerColor='#231f20'} = Astro.props;
---
<header>
     <div class="container">
        <div class='one'>
            <svg width="76" height="41" viewBox="0 0 76 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="header-img">
                <g clip-path="url(#clip0_2_289)">
                <path class="header-img" d="M75.9981 41H-0.00189209V0H75.9981V41ZM3.22456 37.7539H72.7699V3.24257H3.22456V37.7539Z" fill="white"/>
                <path class="header-img" d="M14.0263 6.63843H17.0663V16.7654H15.1006V8.26595L13.1881 16.7672H11.155L9.25674 8.26773V16.7672H7.30347V6.63843H10.3737L12.2097 14.6013L14.0263 6.63843Z" fill="white"/>
                <path class="header-img" d="M23.7198 9.42821C24.2463 9.6664 24.6937 10.0512 25.0089 10.537C25.3227 11.001 25.5268 11.5308 25.6056 12.0861C25.6645 12.5793 25.6853 13.0763 25.6677 13.5728H20.227C20.2578 14.3227 20.5182 14.8491 21.0083 15.1522C21.3325 15.3464 21.7051 15.4441 22.0826 15.4338C22.4728 15.4515 22.8567 15.3296 23.1658 15.0898C23.3336 14.9478 23.4703 14.7724 23.5671 14.5746H25.5683C25.515 15.0203 25.2735 15.4718 24.8438 15.9294C24.1761 16.6567 23.2409 17.0203 22.0382 17.0203C21.0825 17.0317 20.1532 16.7062 19.4119 16.1005C18.659 15.4837 18.2826 14.4837 18.2826 13.1004C18.2826 11.8026 18.6253 10.8074 19.3107 10.1145C19.9961 9.42167 20.884 9.07585 21.9743 9.07703C22.5743 9.06905 23.1692 9.18874 23.7198 9.42821V9.42821ZM20.8023 11.1217C20.5107 11.4424 20.329 11.8485 20.2838 12.2804H23.6434C23.6418 12.058 23.595 11.8384 23.5059 11.6348C23.4167 11.4313 23.2871 11.2482 23.1249 11.0967C22.802 10.8234 22.3893 10.6804 21.9672 10.6956C21.7542 10.6818 21.5407 10.7126 21.3402 10.7859C21.1397 10.8592 20.9565 10.9736 20.8023 11.1217V11.1217Z" fill="white"/>
                <path class="header-img" d="M30.6095 9.39614C30.9599 9.59476 31.2544 9.87934 31.4654 10.2233V6.65805H33.4435V16.7726H31.5471V15.7351C31.316 16.1328 30.9894 16.4662 30.5971 16.7048C30.188 16.9196 29.7302 17.0234 29.2689 17.0061C28.8451 17.0086 28.4264 16.9135 28.0449 16.7281C27.6635 16.5427 27.3295 16.2719 27.0688 15.9365C26.4769 15.2235 26.1809 14.3149 26.1809 13.2109C26.1809 11.9322 26.4769 10.9268 27.0688 10.1947C27.3471 9.83897 27.705 9.55401 28.1134 9.36292C28.5219 9.17184 28.9694 9.08001 29.4198 9.09488C29.8356 9.09031 30.2456 9.19411 30.6095 9.39614ZM31.0889 14.7315C31.3962 14.2551 31.5471 13.694 31.5204 13.1271C31.5204 12.2109 31.2902 11.5573 30.8297 11.1663C30.5547 10.9321 30.2047 10.8056 29.8442 10.8097C29.5958 10.794 29.3478 10.846 29.1265 10.9603C28.9052 11.0745 28.7188 11.2467 28.587 11.4586C28.3082 11.9459 28.1699 12.5013 28.1875 13.063C28.1875 13.7564 28.3242 14.3108 28.5941 14.7226C28.7274 14.9279 28.9129 15.0938 29.1314 15.2031C29.3499 15.3125 29.5935 15.3613 29.8371 15.3447C30.0805 15.358 30.3233 15.3086 30.5423 15.2013C30.7614 15.094 30.9496 14.9323 31.0889 14.7315V14.7315Z" fill="white"/>
                <path class="header-img" d="M37.2223 8.37827H35.2441V6.57605H37.2223V8.37827ZM35.2441 9.26957H37.2223V16.7565H35.2441V9.26957Z" fill="white"/>
                <path class="header-img" d="M42.0681 12.2091C42.3349 12.1858 42.5972 12.1258 42.8477 12.0308C42.9676 11.9954 43.0731 11.9222 43.1485 11.8221C43.2239 11.722 43.2654 11.6002 43.2667 11.4747C43.2798 11.3488 43.2565 11.2218 43.1995 11.1089C43.1424 10.996 43.0542 10.9021 42.9453 10.8383C42.6477 10.7046 42.3228 10.6435 41.9971 10.66C41.5319 10.66 41.2016 10.7759 41.0063 11.0041C40.8555 11.2046 40.7594 11.4412 40.7275 11.6904H38.8452C38.8631 11.1087 39.0549 10.546 39.3957 10.0753C39.9142 9.41575 40.8021 9.08597 42.0593 9.08597C42.8178 9.07742 43.5676 9.24971 44.2469 9.58866C44.8862 9.91666 45.2046 10.5305 45.2022 11.4301V14.8652C45.2022 15.1041 45.2022 15.4 45.2165 15.7315C45.2102 15.9126 45.2499 16.0924 45.3319 16.2538C45.4064 16.3532 45.5056 16.4312 45.6195 16.4802V16.769H43.5029C43.4495 16.6309 43.4085 16.4884 43.3804 16.343C43.3573 16.2111 43.3395 16.0595 43.3253 15.8902C43.053 16.1859 42.7374 16.4383 42.3895 16.6389C41.9524 16.8831 41.4585 17.0062 40.9583 16.9954C40.3448 17.0185 39.7446 16.8113 39.275 16.4143C38.831 16.0269 38.6091 15.4784 38.6091 14.7689C38.6091 13.8491 38.9642 13.183 39.6745 12.7706C40.0651 12.546 40.6399 12.3856 41.3987 12.2893L42.0681 12.2091ZM43.2596 13.1236C43.1406 13.1999 43.0138 13.2633 42.8814 13.3125C42.7119 13.3731 42.5371 13.4179 42.3593 13.4462L41.9136 13.53C41.6027 13.5715 41.3001 13.6618 41.0169 13.7974C40.87 13.8782 40.7489 13.9991 40.6675 14.1461C40.5861 14.2931 40.5478 14.4602 40.557 14.6281C40.5447 14.763 40.5638 14.8989 40.6128 15.0252C40.6618 15.1514 40.7393 15.2645 40.8393 15.3554C41.0346 15.5069 41.2763 15.5857 41.523 15.5782C41.9442 15.5799 42.3555 15.4504 42.7003 15.2074C43.0554 14.9597 43.2454 14.5087 43.2596 13.8544V13.1236Z" fill="white"/>
                <path class="header-img" d="M7.33899 23.5304H14.5324V25.313H9.43432V27.6393H13.9038V29.413H9.43432V33.6628H7.33899V23.5304Z" fill="white"/>
                <path class="header-img" d="M17.6877 26.1669V30.6769C17.6716 31.0042 17.723 31.3313 17.8387 31.6377C18.0162 32.0174 18.3714 32.2099 18.8792 32.2099C19.5433 32.2099 19.9973 31.9396 20.2412 31.3989C20.3834 31.0292 20.4486 30.6343 20.433 30.2384V26.1669H22.4111V33.6539H20.5147V32.5968C20.4969 32.6217 20.4507 32.6895 20.3779 32.8053C20.3068 32.918 20.2194 33.0196 20.1187 33.1066C19.8623 33.3508 19.5606 33.5422 19.2308 33.6699C18.9084 33.7765 18.5705 33.8277 18.2311 33.8214C17.1314 33.8214 16.3897 33.4227 16.0062 32.6253C15.7948 32.1868 15.6865 31.5379 15.6865 30.6822V26.1669H17.6877Z" fill="white"/>
                <path class="header-img" d="M23.5405 27.6304V26.2364H24.581V24.1436H26.5112V26.2329H27.7222V27.6304H26.5112V31.5878C26.5112 31.8944 26.5503 32.087 26.6266 32.1618C26.703 32.2367 26.9427 32.2759 27.3369 32.2759H27.5216C27.5869 32.2777 27.6522 32.2742 27.7169 32.2652V33.7287L26.7935 33.7626C25.8702 33.7947 25.2404 33.6343 24.9042 33.2813C24.684 33.0585 24.5757 32.7126 24.5757 32.2438V27.6304H23.5405Z" fill="white"/>
                <path class="header-img" d="M30.9185 26.1669V30.6769C30.9027 31.004 30.9534 31.331 31.0677 31.6377C31.2452 32.018 31.5927 32.2088 32.11 32.2099C32.7717 32.2099 33.2257 31.9396 33.472 31.3989C33.6141 31.0292 33.6794 30.6343 33.6637 30.2384V26.1669H35.6401V33.6539H33.7454V32.5968C33.7277 32.6217 33.6815 32.6895 33.6087 32.8053C33.5366 32.9173 33.4494 33.0187 33.3494 33.1066C33.0926 33.3503 32.7911 33.5416 32.4616 33.6699C32.1392 33.7765 31.8012 33.8277 31.4619 33.8214C30.3633 33.8214 29.6217 33.4227 29.2369 32.6253C29.0262 32.1868 28.9203 31.5391 28.9191 30.6822V26.1669H30.9185Z" fill="white"/>
                <path class="header-img" d="M41.6811 25.9886L41.848 25.9993V28.003C41.7254 27.9905 41.6154 27.9798 41.5195 27.9763C41.4236 27.9727 41.3419 27.9763 41.2868 27.9763C40.502 27.9763 39.9752 28.233 39.7065 28.7463C39.5573 29.0351 39.481 29.479 39.481 30.078V33.6539H37.5153V26.1669H39.378V27.4718C39.5861 27.0926 39.8514 26.748 40.1646 26.4503C40.5681 26.1314 41.0721 25.9682 41.5852 25.9904L41.6811 25.9886Z" fill="white"/>
                <path class="header-img" d="M47.8534 26.3131C48.3785 26.5535 48.8254 26.9378 49.1425 27.4219C49.4561 27.885 49.659 28.4145 49.7356 28.9692C49.7974 29.4622 49.8194 29.9593 49.8013 30.4559H44.3765C44.4085 31.2081 44.6683 31.7352 45.1561 32.037C45.4806 32.2321 45.854 32.3298 46.2321 32.3187C46.5371 32.3429 46.8422 32.2738 47.1072 32.1204C47.3723 31.967 47.5847 31.7366 47.7166 31.4595H49.7036C49.6516 31.9051 49.4107 32.3561 48.9809 32.8125C48.3133 33.5434 47.3775 33.9076 46.1736 33.9052C45.2167 33.9189 44.2858 33.5925 43.5455 32.9836C42.7867 32.3704 42.4073 31.3709 42.4073 29.9853C42.4073 28.6899 42.75 27.6952 43.4354 27.0012C44.1208 26.3072 45.0087 25.9613 46.099 25.9637C46.7018 25.9547 47.2996 26.0738 47.8534 26.3131V26.3131ZM44.9341 28.0048C44.6434 28.3269 44.4619 28.7331 44.4156 29.1653H47.7752C47.7733 28.943 47.7264 28.7234 47.6372 28.5199C47.5481 28.3164 47.4186 28.1333 47.2567 27.9816C46.9336 27.7083 46.5213 27.5642 46.099 27.577C45.886 27.5647 45.6728 27.5963 45.4724 27.6699C45.2721 27.7435 45.0889 27.8574 44.9341 28.0048V28.0048Z" fill="white"/>
                <path class="header-img" d="M52.2997 31.2598C52.3115 31.5298 52.405 31.7898 52.5678 32.005C52.8129 32.2652 53.2621 32.3954 53.9156 32.3954C54.2311 32.4064 54.545 32.3454 54.8336 32.2171C54.9357 32.1754 55.0229 32.1038 55.0837 32.0115C55.1446 31.9193 55.1762 31.8108 55.1746 31.7001C55.1785 31.5992 55.155 31.499 55.1065 31.4104C55.058 31.3219 54.9864 31.2482 54.8993 31.1974C54.7217 31.0834 54.0363 30.8891 52.859 30.6074C52.0138 30.3994 51.4166 30.1368 51.0674 29.8195C50.8895 29.648 50.7509 29.4398 50.6611 29.2093C50.5712 28.9788 50.5323 28.7314 50.5471 28.4843C50.5464 28.1459 50.6187 27.8113 50.7591 27.5035C50.8995 27.1958 51.1046 26.9223 51.3603 26.7017C51.9025 26.2061 52.6649 25.9578 53.6474 25.9566C54.5815 25.9566 55.3421 26.1437 55.9292 26.5181C56.5164 26.8924 56.8532 27.5372 56.9396 28.4522H54.9863C54.9736 28.2368 54.8997 28.0296 54.7732 27.8551C54.5584 27.5877 54.1926 27.4557 53.6741 27.4557C53.2515 27.4557 52.9484 27.5223 52.7649 27.6554C52.6851 27.7049 52.6187 27.7735 52.5716 27.855C52.5246 27.9364 52.4982 28.0283 52.495 28.1224C52.49 28.223 52.5146 28.3228 52.5657 28.4093C52.6169 28.4959 52.6924 28.5654 52.7827 28.6091C52.9745 28.7137 53.6534 28.8919 54.8194 29.1439C55.5972 29.3221 56.1814 29.6056 56.5667 29.9764C56.7553 30.1573 56.9039 30.376 57.003 30.6183C57.1021 30.8606 57.1495 31.121 57.142 31.3828C57.1514 31.729 57.0818 32.0728 56.9387 32.3879C56.7956 32.703 56.5828 32.9811 56.3163 33.2011C55.7659 33.6765 54.9147 33.9141 53.7629 33.9141C52.5874 33.9141 51.7196 33.6658 51.1597 33.169C50.888 32.9345 50.6716 32.6425 50.5261 32.3138C50.3805 31.9852 50.3095 31.6283 50.318 31.2687L52.2997 31.2598Z" fill="white"/>
                <path class="header-img" d="M63.2114 33.7056C64.8129 33.7056 66.1111 32.4023 66.1111 30.7946C66.1111 29.1869 64.8129 27.8836 63.2114 27.8836C61.61 27.8836 60.3117 29.1869 60.3117 30.7946C60.3117 32.4023 61.61 33.7056 63.2114 33.7056Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_2_289">
                <rect width="76" height="41" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <h2>&#10005;</h2>
            <img src='tv2_scaled.png'> 
        </div>
        <div class="sep"></div>
        
        <h1>
            {title}
        </h1>
     </div>
</header>

<style define:vars={{headerColor}}>
    h1 {
        color: #ffffff;
        text-align: center;
        font-size: 25px;
        padding: 0;
        margin: auto 1rem auto 1rem;
        font-family: 'K2D', serif;
        font-weight: 400;
        font-style: normal;
    }

    .container {

    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    }

    .sep {
        width: 1px;
        background-color: #CACACA;
        margin: .5rem 0 .5rem 0;
    }

    .one {
        padding: 0 1rem 0 0;
        display: flex;
        cursor: pointer;
        align-items: center;

        flex-direction: row;
    }
    .one > h2 {
        font-family: 'K2D', serif;
        color: #ffffff;
        font-size: 30px;
        padding: 0;
        padding: 0 .3rem 0 .6rem;
        margin: 0;
        font-weight: 200;
    }
    .container > .one > img {
        width: 38px;
        margin: -0.01rem 0 0 0;
    }

</style>